<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pamirs.takin.entity.dao.dict.TDictionaryDataMapper">

    <!--数据字典结果集-->
    <resultMap id="DictionaryResultMap" type="com.pamirs.takin.entity.domain.vo.TDictionaryVo">
        <id column="valueId" property="valueId" jdbcType="VARCHAR" javaType="java.lang.String"></id>
        <result column="VALUE_CODE" property="valueCode" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="VALUE_ORDER" property="valueOrder" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="VALUE_NAME" property="valueName" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="valueActive" property="valueActive" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE" javaType="java.util.Date"></result>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE" javaType="java.util.Date"></result>
        <result column="LANGUAGE" property="language" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="typeId" property="typeId" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="typeActive" property="typeActive" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="TYPE_ALIAS" property="typeAlias" jdbcType="VARCHAR" javaType="java.lang.String"></result>
        <result column="IS_LEAF" property="isLeaf" jdbcType="VARCHAR" javaType="java.lang.String"></result>
    </resultMap>

    <!--查询数据字典列表-->
    <select id="queryDictionaryList" parameterType="map" resultMap="DictionaryResultMap">
        SELECT
        d.ID valueId,
        d.VALUE_ORDER,
        d.VALUE_CODE,
        d.VALUE_NAME,
        d.ACTIVE valueActive,
        d.CREATE_TIME,
        d.MODIFY_TIME,
        d.`LANGUAGE`,
        t.ID typeId,
        t.TYPE_NAME,
        t.ACTIVE typeActive,
        t.TYPE_ALIAS,
        t.IS_LEAF
        FROM
        t_dictionary_type t, t_dictionary_data d
        WHERE
        t.ID = d.DICT_TYPE
        <if test="typeName!=null and typeName!=''">
            AND t.TYPE_NAME LIKE CONCAT('%',#{typeName},'%')
        </if>
        <if test="typeAlias!=null and typeAlias!=''">
            AND t.TYPE_ALIAS LIKE CONCAT('%',#{typeAlias},'%')
        </if>
        <if test="valueName!=null and valueName!=''">
            AND d.VALUE_NAME LIKE CONCAT('%',#{valueName},'%')
        </if>
        <if test="valueActive!=null and valueActive!=''">
            AND d.ACTIVE = #{valueActive}
        </if>
        ORDER BY TYPE_ALIAS, VALUE_ORDER
    </select>

</mapper>
